*{
   margin:0;
   padding:0;
}
header{
   width: 100%;
   height: 70px;
   background-color:black;
}
header img{ 
   margin-left: 15px;

   background-color: green;
}
.link{
   color: white;
   text-decoration: none;
   border-left:2px solid white;
   position:relative;
   top: -25px;
   font-size: 20px;
   padding:5px;
}
 .submit,.sign{
   height: 30px;
   background-color:#4C5FD5;
   border:1px solid white;
   border-radius: 8px;
   color: white;
   font-size: 16px;
   cursor: pointer;
   padding:5px;
   margin:15px;
   position:relative;
   top: -60px;
   float: right;
}
 .submit{ 
   background-color: black;
   order: 1;
}
.sign{
   order:2;
}
.sessao1{ 
   text-align: center;
   margin:50px 0;
   margin-top: 0;
   width: 100%;
   height:300px;
   background-color:#dadbf1;
}
.search{
    width: 80%;
    height: 30px;
    margin:10px 0;
    padding-left:15px;
}
.sessao1>h1{
      padding-top:50px;
      margin: 0 auto;
      /* background-color: green; */
      width:500px;
}
.galeria{
   display: flex;
   gap:10px;
   flex-wrap: wrap;
   padding-bottom:50px;
}
.box{ 
   display: flex;
   gap:10px;
   margin-left: 50px;
}
.box p{
   width: 250px;
}
.box a{  
   color: #4C5FD5;
}
footer{
   width: 100%;
   height: 300px;
   background-color: black;
   color: white;
   display: flex;
   gap: 25%;
   padding: 50px;
}
footer a{
   color: white;
   display: flex;
   flex-direction: column;
   text-decoration: none;
   padding: 1px;
}
footer a:hover{
   text-decoration: underline;
}
.link:hover{
   text-decoration: underline;
}
